<template>
  <div>
    <v-row v-bind:key="`chart${chart.id}`" v-for="chart in charts">
      <v-col>
        <v-skeleton-loader
          v-if="chart.type === 'skeleton'"
          class="mx-auto"
          type="card"
        ></v-skeleton-loader>
        <ts-linear-chart v-else-if="chart.type === 'linear'" :chart-data="chart.data" />
        <ts-pie-chart v-else-if="chart.type === 'pie'" :chart-data="chart.data"/>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import TsPieChart from './tsPieChart.vue';
import TsLinearChart from './tsLinearChart.vue';

export default {
  name: 'tsCharts',
  components: { TsLinearChart, TsPieChart },
  computed: {
    charts() {
      return this.$store.state.charts.slice().reverse();
    },
  },
};
</script>

<style scoped>

</style>
