<template>
  <v-row>
    <v-col>
      <v-dialog
        v-model="dialog"
        v-on:input="switchDialogEvent"
        width="500"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary" v-bind="attrs" v-on="on">Создать график</v-btn>
        </template>
        <v-card>
          <v-card-title class="headline">
            Создать график
          </v-card-title>

          <v-card-text>
            <v-form
              v-model="check"
              ref="form"
            >
              <v-combobox
                v-model="type"
                :items="types"
                :rules="[required]"
                label="Выберите тип графика"
                v-on:change="resetSource"
              />
              <v-combobox
                :disabled="!type"
                v-model="source"
                :items="sources"
                :rules="[required]"
                label="Выберите источник графика"
              />
            </v-form>
          </v-card-text>

          <v-divider></v-divider>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              :disabled="!check"
              color="primary"
              text
              @click="submit"
            >
              Создать
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-col>
  </v-row>
</template>

<script>
import { mapActions } from 'vuex';
import { CREATE_CHART } from '../store/types';

export default {
  name: 'tsCreateChartDialog',
  data: () => ({
    dialog: false,

    types: [
      {
        text: 'Линейный',
        type: 'linear',
        sources: ['92a0a266-0321-4ff5-9993-b394d03ceee2'],
      },
      {
        text: 'Пирог',
        type: 'pie',
        sources: ['2699115b-8ced-40c3-8072-b7fa9faf6047'],
      },
    ],

    check: null,
    type: null,
    source: null,
  }),
  computed: {
    sources() { return this.type ? this.type.sources : []; },
  },
  methods: {
    ...mapActions({ createChart: CREATE_CHART }),

    required(value) {
      return !!value || 'Обязательное поле.';
    },
    switchDialogEvent(e) {
      if (!e) {
        this.source = null;
        this.type = null;
        this.$refs.form.resetValidation();
      }
    },
    resetSource() {
      this.source = null;
      this.$refs.form.resetValidation();
    },
    submit() {
      this.$refs.form.validate();
      if (this.check) {
        this.dialog = false;

        this.createChart({
          type: this.type.type,
          id: this.source,
        });

        this.source = null;
        this.type = null;
        this.$refs.form.resetValidation();
      }
    },
  },
};
</script>

<style scoped>

</style>
