<template>
  <div id="chart-demo">
    <DxChart
      id="chart"
      :data-source="chartData"
      palette="Violet"
    >
      <DxCommonSeriesSettings
        type="line"
        argument-field="Дата"
      />
      <DxSeries
        key="Процент"
        value-field="Процент"
        name="Процент"
      />
      <DxMargin :bottom="20"/>
      <DxArgumentAxis
        :value-margins-enabled="false"
        discrete-axis-division-mode="crossLabels"
      >
        <DxGrid :visible="true"/>
      </DxArgumentAxis>
      <DxLegend
        vertical-alignment="bottom"
        horizontal-alignment="center"
        item-text-position="bottom"
      />
      <DxExport :enabled="true"/>
      <DxTitle text="Линейный график" />
      <DxTooltip :enabled="true"/>
    </DxChart>
  </div>
</template>

<script>
import {
  DxChart,
  DxSeries,
  DxArgumentAxis,
  DxCommonSeriesSettings,
  DxExport,
  DxGrid,
  DxMargin,
  DxLegend,
  DxTitle,
  DxTooltip,
} from 'devextreme-vue/chart';

export default {
  name: 'tsLinearChart',
  components: {
    DxChart,
    DxSeries,
    DxArgumentAxis,
    DxCommonSeriesSettings,
    DxExport,
    DxGrid,
    DxMargin,
    DxLegend,
    DxTitle,
    DxTooltip,
  },
  props: {
    chartData: {
      type: Array,
      require: true,
    },
  },
};
</script>

<style scoped>
.options {
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
    margin-top: 20px;
}

.option {
    margin-top: 10px;
}

.caption {
    font-size: 18px;
    font-weight: 500;
}

.option > span {
    margin-right: 14px;
}

.option > .dx-widget {
    display: inline-block;
    vertical-align: middle;
}
</style>
