<template>
  <DxPieChart
    id="pie"
    :data-source="chartData"
    palette="Bright"
    title="Дольный график"
    @point-click="pointClickHandler($event)"
    @legend-click="legendClickHandler($event)"
  >
    <DxSeries
      argument-field="Группа"
      value-field="Доля"
    >
      <DxLabel :visible="true">
        <DxConnector
          :visible="true"
          :width="1"
        />
      </DxLabel>
    </DxSeries>
    <DxExport :enabled="true"/>
  </DxPieChart>
</template>

<script>
import DxPieChart, {
  DxSeries,
  DxLabel,
  DxConnector,
  DxExport,
} from 'devextreme-vue/pie-chart';

export default {
  name: 'tsPieChart',
  components: {
    DxPieChart,
    DxSeries,
    DxLabel,
    DxConnector,
    DxExport,
  },
  props: {
    chartData: {
      type: Array,
      require: true,
    },
  },
  methods: {
    pointClickHandler(e) {
      this.toggleVisibility(e.target);
    },
    legendClickHandler(e) {
      const arg = e.target;
      const item = e.component.getAllSeries()[0].getPointsByArg(arg)[0];

      this.toggleVisibility(item);
    },
    toggleVisibility(item) {
      if (item.isVisible()) { item.hide(); } else { item.show(); }
    },
  },
};
</script>

<style scoped>
#pie {
    height: 440px;
}

#pie * {
    margin: 0 auto;
}
</style>
