<template>
  <v-app>
    <v-content>
      <v-main>
        <v-container>
          <ts-create-chart-dialog />
          <ts-charts />
        </v-container>
      </v-main>
    </v-content>
  </v-app>
</template>

<script>
import TsCreateChartDialog from './components/tsCreateChartDialog.vue';
import TsCharts from './components/tsCharts.vue';

export default {
  name: 'App',
  components: {
    TsCharts,
    TsCreateChartDialog,
  },
};
</script>

<style lang="scss">
</style>
